:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-gray-600: hsl(0, 0%, 55%);
    --clr-gray-800: hsl(0, 0%, 41%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Alata", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--clr-black);
}

h1,
h2,
h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 87%;
    max-width: 1110px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

/* ===========
    HEADER 
 =========== */

.header {
    position: absolute;
    width: 100%;
    top: 6.5rem;
}

.hamburger {
    display: none;
}

.close-mobile-nav {
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 3.3rem;
}

.nav-item:first-of-type {
    margin-left: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--clr-white);
}

/* Hover and focus state for nav links and social links in footer */
.nav-link,
.social-item {
    position: relative;
}

.nav-link::before,
.social-item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: white;
    bottom: -0.7rem;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s;
}

.nav-link:hover::before,
.nav-link:focus-visible::before,
.social-item:hover::before,
.social-item:focus-visible::before {
    transform: translateX(-50%) scaleX(1);
}

/* Mobile open, hamburger menu*/
.logo {
    z-index: 2;
}

.header-nav.mobile-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--clr-black);
    padding: 15rem 0;
}

.mobile-open .nav-list {
    flex-direction: column;
    width: 87%;
    margin: 0 auto;
}

.mobile-open .nav-item {
    margin-left: 0;
    margin-bottom: 3rem;
}

.mobile-open .nav-link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.mobile-open .close-mobile-nav {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 7%;
    right: 7%;
    cursor: pointer;
}

@media (max-width: 800px) {
    .header {
        top: 4rem;
    }

    .logo {
        max-width: 150px;
    }

    .header-nav {
        display: none;
    }

    .hamburger {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/* ===========
    SECTIONS
=========== */

/* Hero Section */
.section-hero {
    background: url(./images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 20rem;
}

.title-hero {
    border: 3px solid var(--clr-white);
    color: var(--clr-white);
    font-size: 7.2rem;
    max-width: 700px;
    padding: 3rem 3.7rem;
}

@media (max-width: 900px) {
    .title-hero {
        font-size: 5.5rem;
    }
}

@media (max-width: 700px) {
    .section-hero {
        background: url(./images/mobile/image-hero.jpg);
        background-size: cover;
        background-position: center;
    }

    .title-hero {
        /* font-size: 5.5rem; */
        padding: 2.5rem;
    }
}

@media (max-width: 600px) {
    .title-hero {
        font-size: 4rem;
    }
}

/* Intro Section */
.section-intro {
    padding: 16rem 0;
}

.section-intro-container {
    position: relative;
}

.section-intro-content {
    position: absolute;
    width: 60%;
    padding: 10rem 3rem 3rem 10rem;
    top: 40%;
    right: 0%;
    background-color: var(--clr-white);
}

.title-section {
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

.section-intro-content p {
    color: var(--clr-gray-800);
}

@media (max-width: 1200px) {
    .section-intro-content {
        padding: 8rem 3rem 3rem 8rem;
    }

    .title-section {
        font-size: 4rem;
    }
}

@media (max-width: 1050px) {
    .section-intro-content {
        padding: 6rem 3rem 3rem 6rem;
    }
}

@media (max-width: 840px) {
    .section-intro {
        padding: 9rem 0 3rem;
    }

    .section-intro-content {
        position: static;
        width: 100%;
        padding: 5rem 2rem;
    }

    .title-section {
        text-align: center;
        font-size: 3.3rem;
    }

    .section-intro-content p {
        text-align: center;
        max-width: 55ch;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .section-intro .img-desktop {
        display: none;
    }

    .section-intro .img-mobile {
        display: block;
    }
}

/* Section Creations */
.img-mobile {
    display: none;
}

.section-creations img {
    width: 100%;
}

.creation-item {
    position: relative;
    cursor: pointer;
}

.creation-overlay {
    position: absolute;
    background-color: var(--clr-black);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, opacity 0.3s;
}

.creation-item:hover .creation-overlay,
.creation-item:focus .creation-overlay {
    background-color: var(--clr-white);
    opacity: 0.6;
}

.creation-item h3 {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    max-width: 70%;

    color: var(--clr-white);
    font-size: 3rem;
    transition: color 0.3s;
}

.creation-item:hover h3,
.creation-item:focus h3 {
    color: var(--clr-black);
}

.section-creations {
    margin-bottom: 16rem;
}

.section-creations-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.section-creations-container h2 {
    grid-column: 1/-2;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section-creations-container a {
    grid-column: -2/-1;
    justify-self: end;
    align-self: center;

    border: 2px solid var(--clr-black);
    padding: 1rem 4rem;
    color: inherit;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.section-creations-container a:hover,
.section-creations-container a:focus-visible {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

@media (max-width: 1000px) {
    .creation-item h3 {
        font-size: 2rem;
    }

    .section-creations-container a {
        padding: 1rem 2rem;
    }
}

@media (max-width: 900px) {
    .section-creations .img-mobile {
        display: block;
    }

    .section-creations .img-desktop {
        display: none;
    }

    .section-creations {
        margin-bottom: 8rem;
    }

    .section-creations-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .section-creations-container {
        grid-template-columns: 1fr;
    }

    .section-creations-container h2 {
        grid-column: 1/-1;
    }

    .creation-item h3 {
        font-size: 2.5rem;
        max-width: 40%;
        bottom: 2rem;
        left: 2rem;
    }

    .section-creations-container a {
        padding: 1rem 4rem;
        grid-column: 1/-1;
        grid-row: 10/11;
        justify-self: center;
    }
}

/* ============
    Footer
============== */

.footer {
    background-color: var(--clr-black);
}

.footer-container {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
}

.fineprint {
    color: var(--clr-gray-600);
    margin-top: 2.8rem;
}

.social-list {
    display: flex;
    justify-content: end;
    list-style: none;
}

.social-item {
    margin-left: 2rem;
}

.social-item:first-of-type {
    margin-left: 0;
}

.footer-nav {
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .footer .logo {
        margin: 0 auto;
    }

    .footer-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .social-list {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .footer-nav .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav .nav-item {
        margin-left: 0;
        padding: 1rem 0;
    }
}
